body { background-color: rgb(227, 106, 19);
    padding: 20px;
    margin: 50px;
    /* border-style:; */
    border: 5vw  rgb(30, 44, 44);
    display:block;
    background-image: url("C:\Users\SUMIT KUMAR\Desktop\oth\20221208_211315.jpg");
    margin: 10px;
}
hr{
    /* background-color:white; */
    height: 1px;
    border-style:dotted none none;
    width: 5%;
    border-width: 8px;
    border-color: rgb(68, 164, 164);
}
h1{font-size: 50px;
    color:#0108cc;
    font-family:Arial, Helvetica, sans-serif;
}
h2{
    color:#0108cc;
    font-style: oblique;
   
}
img{
    /* border-style: ridge; */
    background-image:-webkit-repeating-linear-gradient(0px);
    border-radius: 0px;
    /* box-sizing: border-box; */
    /* box-decoration-break:clone; */
    box-shadow: burlywood;
    /* background-color: brown; */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
p{
    font-size: 20px;
}
.study{padding: 20px;
    height: 220px;
    width: 90%;margin:30px;
    /* padding: 100px;
    margin: 10px; */
    background-color: rgb(56, 144, 182);
    border-color: rgb(58, 38, 209);
    /* border-style:unset; */
    border-radius: 50px;

}
.Achievements{
    height: 170px;
    width: 90%;padding: 20px;margin:30px;
    /* padding: 100px;
    margin: 10px; */
   background-color: rgb(56, 144, 182);
    border-color: rgb(58, 38, 209);
    /* border: solid; */
    border-radius: 50px; 

}
.Languages{
height: 150px;
    width: 90%;margin:30px;
    padding: 20px;
    /* margin: 10px; */ 
    background-color: rgb(56, 144, 182);
    border-color: rgb(58, 38, 209);
    /* border: solid; */
    border-radius: 50px; 

}
.Skills{padding: 20px;
height: 170px;margin:30px;
    width: 90%;
    /* padding: 100px;
    margin: 10px; */
    background-color: rgb(56, 144, 182);
    border-color: rgb(58, 38, 209);
    /* border: solid; */
    border-radius: 50px;

}
.Contact{
    margin:30px;
    padding: 20px;
height: 300px;
    width: 90%;
    /* padding: 100px;
    margin: 10px; */
    background-color: rgb(56, 144, 182);
    border-color: rgb(58, 38, 209);
    /* border: solid; */
    border-radius: 50px;

}
.query{

    margin:30px;
    padding: 20px;
height: 800px;
    width: 90%;
    /* padding: 100px;
    margin: 10px; */
    background-color: rgb(56, 144, 182);
    border-color: rgb(58, 38, 209);
    /* border: solid; */
    border-radius: 50px;


}.my{
    margin:30px;
    padding: 20px;
height: 100px;
    width: 300px;
    /* padding: 100px;
    margin: 10px; */
    background-color: rgb(27, 112, 137);
    border-radius: 20px;



}
.submit{


    margin:10px;
    padding: 2px;
height: 30px;
    width: 80px;
    /* padding: 100px;
    margin: 10px; */
    background-color: rgb(27, 112, 137);
    border-radius: 20px;



}
.gen_button{
    /* margin:10px;
    padding: 2px; */
height: 30px;
    width: 150px;
    /* padding: 100px;
    margin: 10px; */
    background-color: rgb(27, 112, 137);
    border-radius: 20px;

}
.home{


    margin:10px;
    padding: 20px;
    height: 300px;
    width: 150px;
    font-size: medium;
    background-color: rgb(56, 144, 182);
    border-radius: 20px;


}